style.
	@import url(https://fonts.googleapis.com/css?family=Share+Tech);
	@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
	* {
		color: #030c22;
	}
	p {
		margin: 0;
	}
	.centered {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.speed-label {
		display: inline-block;
		width: 3em;
		font-family: 'Share Tech', sans-serif;
	}
	.speed {
		display: inline-block;
		width: 6em;
		font-family: 'Share Tech', sans-serif;
		text-align: right;
	}
	#buttons {
		display: none;
		text-align: center;
		vertical-align: middle;
		line-height: 64px;
	}
	.button {
		display: inline-block;
		margin: 0 8px;
		width: 64px;
		height: 64px;
		font-size: 150%;
		background-color: #e5e7e8;
		border-radius: 32px;
		cursor: pointer;
	}
	#preview {
		display: none;
		width: 100%;
		text-align: center;
		font-family: 'Share Tech', sans-serif;
	}
	#thumbnail {
		width: 64px;
		height: 64px;
		margin: auto;
		overflow: hidden;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('/res/favicon.svg');
	}
div.centered
	p#speeds
		span.speed-label Up:
		span.speed#upload-speed 0
		br
		span.speed-label Down:
		span.speed#download-speed 0
	div#buttons
		div#preview-button.button
			i.fa.fa-eye
		div#download-button.button
			i.fa.fa-download
	div#preview
		div#thumbnail
		div#fileinfo
			div#filename
			div#filesize
